<?xml version="1.0" encoding="UTF-8"?>
<suite name= "Automation Test">
    <test name="test1"> 
   <!--  
       
    
    <classes>
    <class name="testCases.Search"/>
    <class name="testCases.testActions"/>
     
     </classes>    
     
     -->
     
     <packages>
      <package name="testme" />
   </packages>
    </test>
    
    
    
    
   
    
    
    
    
</suite>